@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Elmessiri", ui-sans-serif, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}

@font-face {
    font-family: Elmessiri;
    src: url("../src/assets/El_Messiri/ElMessiri-VariableFont_wght.ttf");
  }
@font-face {
    font-family: Elmessiri-Regular;
    src: url("../src/assets/El_Messiri/static/ElMessiri-Regular.ttf");
  }
@font-face {
    font-family: Elmessiri-Bold;
    src: url("../src/assets/El_Messiri/static/ElMessiri-Bold.ttf");
  }
@font-face {
    font-family: Elmessiri-Medium;
    src: url("../src/assets/El_Messiri/static/ElMessiri-Medium.ttf");
  }
@font-face {
    font-family: Elmessiri-SemiBold;
    src: url("../src/assets/El_Messiri/static/ElMessiri-SemiBold.ttf");
  }

body {
  background-color: #fafafa;
}
@media screen {
  
}
.hamburger-menu{

}
